/* Write your CSS here */
.latest-match-card-container {
  width: 100%;
  margin-top: 20px;
}
.heading {
  font-size: 22px;
  font-family: 'Bree Serif';
  color: #ffffff;
}
.latest-match-card {
  display: flex;
  flex-direction: row;
  background-color: #0f172a;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.latest-match-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
